/* General (styling shared among all pages) ========================================================================= */
body {
    font-family: Trebuchet MS;
    background-image: linear-gradient(to right, #000428, #004E92);
}

.outer-container {
    width: 50%;
    background-color: #DEDEDE;
    border-radius: 5px;
    margin: 20px auto 20px auto;
    padding: 0px 0px 20px 0px;
}

.inner-container {
    width: 90%;
    background-color: #F9F9F9;
    padding: 10px 20px;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3E3E3E;
    overflow: hidden;
}

button {
    background: #0B1E53;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover {
    background: #0D2670;
}
button:active {
    background: #103190;
}

.right-aligned-button {
    float: right;
}

input {
    outline: none;
    height: 50px;
    width: 288px;
    background-color: #E1E1E1;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
}

select {
    background-color: #DEDEDE;
    border: none;
    outline: none;
    font-size: 18px;
    height: 51px;
    width: 300px;
    border-radius: 5px;
    padding: 0px 5px;
    margin-bottom: 10px;
}
option:nth-child(even) {
    background-color: white;
}

.page-title-label {
    font-size: 48px;
    display: inline-block;
}

/* Index ============================================================================================================ */
.outer-container.index {
    margin-top: 100px;
    padding-top: 20px;
}

.site-title {
    font-size: 72px;
    text-align: center;
    border: 3px solid black;
    padding: 30px;
    margin-bottom: 10px;
}

.site-desc {
    font-size: 20px;
    text-align: center;
}

.button-table {
    margin: 75px auto 75px auto;
}

.index-button {
    background-image: linear-gradient(to right, #000428, #004E92);
    width: 200px;
}


/* Navigation Bar =================================================================================================== */
.navigation-bar {
    background-color: #F9F9F9;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid black;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

.navigation-bar span {
    font-size: 40px;
    margin-left: 40px;
}

.navigation-bar div {
    float: right;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    display: inline;
}

.navigation-bar li a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
}

.navigation-bar li a:hover {
    background-color: #DEDEDE;
}

/* Pool Browser Page ================================================================================================ */
.inner-container.center-aligned {
    text-align: center;
}

.pool-browser-title-span {
    font-size: 48px;
    display: inline-block;
}

.pool-browser-choose-category-span {
    font-size: 28px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pool-browser-pool-name-span {
    font-size: 48px;
}

.pool-browser-pool-category-span {
    font-size: 18px;
}

.name-and-category-container {
    display: inline-block;
}

.pool-browser-pool-amount-span {
    font-size: 60px;
    color: green;
    display: inline-block;
    float: right;
}

.right-aligned-button.margin-left {
    margin-left: 10px;
}

/* Account Page ===================================================================================================== */
.edit-user-info-span {
    font-size: 18px;
    padding-right: 20px;
}

.account-edit-info-table td {
    padding-bottom: 10px;
}

/* Bank Admin Page ================================================================================================== */
.right-aligned-button.approve {
    background-color: #0B530D;
}
.right-aligned-button.approve:hover {
    background-color: #106F13;
}

.right-aligned-button.deny {
    background-color: #530B0B;
    margin-left: 10px;
}
.right-aligned-button.deny:hover {
    background-color: #701111;
}

.view-button {
    background: none;
    color: blue;
    font-size: 14px;
    height: auto;
    width: auto;
    border: none;
    border-radius: none;
    text-decoration: underline;
    cursor: pointer;
}
.view-button:hover {
    background: none;
}
.view-button:active {
    background: none;
}

.loan-request-table {
    border: 1px solid black;
    border-collapse: collapse;
}
.loan-request-table th {
    background-color: #B0BAD6;
    border: 1px solid black;
    padding: 5px;
}
.loan-request-table td {
    border: 1px solid black;
    padding: 5px;
}

/* Login Page ======================================================================================================= */
.inner-container.mini {
    width: 30%;
    background-color: #F9F9F9;
    text-align: center;
    margin: 100px auto auto auto;
    padding: 50px 10px 50px 10px;
    box-shadow: 3px 3px 3px #3E3E3E;
    border-radius: 10px;
}

.login-signup-label {
    font-size: 24px;
    display: block;
    padding-bottom: 40px;
}

.login-signup-input {
    width: 70%;
}

.login-signup-input.mini {
    width: 33.5%;
}

.login-signup-button {
    background-image: linear-gradient(to right, #000428, #004E92);
    width: 72%;
}

.page-switch-span {
    color: grey;
    display: block;
    margin-top: 25px;
}

/* Request/Contribute Forms ========================================================================================= */
.inner-container.form {
    width: 50%;
    margin-top: 100px;
}

