<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="outer-container">
        <!-- HEADER DECLARATION -->
        {% with user=user %}
            {% include 'navigationBar.html' %}
        {% endwith %}

        <!-- FORM TO CREATE NEW BANK ACCOUNT -->
        <div class="inner-container">
            <h3>Create New Bank Account</h3>
            <form action="/createNewBankAccount" method="post">
                <input name="bankAccountNameInput" type="text" placeholder="account name"/>
                <button class="account-button" type="submit">Submit</button>
            </form>

            {% with errors = get_flashed_messages(category_filter=["createBankAccountMissingFieldError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- FORM TO ADD FUNDS TO USER'S BANK ACCOUNT -->
        <div class="inner-container">
            <h3>Add Funds to a Bank Account</h3>

            <form method="post" action="/addFundsToBankAccount">
                <select name="bankAccountSelect">
                    {% for account in user.bank_accounts %}
                        <option value="{{ account.id }}">{{ account.account_name }} - {{ "${:,.2f}".format(account.micro_dollars) }}</option>
                    {% endfor %}
                </select>

                <br><br>

                <input name="addFundsInput" type="text" placeholder="add funds" />
                <button class="account-button" type="submit">Submit</button>
            </form>

            {% with errors = get_flashed_messages(category_filter=["addFundsError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>



        <!-- FORM TO EDIT USER INFORMATION  -->
        <div class="inner-container">
            <h3>Edit Information</h3>

            <form method="post" action="/editUserInformation">
                <table>
                    <tr>
                        <td><span class="edit-user-info-span">First Name</span></td>
                        <td><input name="firstNameInput" type="text" value="{{ user.firstName }}" /></td>
                    </tr>
                    <tr>
                        <td><span class="edit-user-info-span">Last Name</span></td>
                        <td><input name="lastNameInput" type="text" value="{{ user.lastName }}" /></td>
                    </tr>
                    <tr>
                        <td><span class="edit-user-info-span">Username</span></td>
                        <td width="80%"><input name="usernameInput" type="text" value="{{ user.username }}" /></td>
                    </tr>
                </table>

                <hr>
                <h3>Edit Password</h3>

                <table>
                    <tr>
                        <td><span class="edit-user-info-span">Current Password</span></td>
                        <td><input name="currentPasswordInput" type="password" /></td>
                    </tr>
                    <tr>
                        <td><span class="edit-user-info-span">New Password</span></td>
                        <td><input name="newPasswordInput" type="password" /></td>
                    </tr>
                    <tr>
                        <td><span class="edit-user-info-span">Confirm Password</span></td>
                        <td width="80%">
                            <input name="confirmPasswordInput" type="password" />
                            <button class="account-button" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>

            {% with errors = get_flashed_messages(category_filter=["editInfoError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["editInfoSuccess"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <br>
                        <span style="color:green;">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>