<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskBank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="outer-container index">
        <div class="inner-container">
            <h1 class="site-title">FlaskBank</h1>
            <p class="site-desc">- A banking / loaning simulator created using Flask -</p>

            <table class="button-table">
                <td>
                    <a href="{{ url_for('main.login') }}">
                        <button class="index-button">LOGIN</button>
                    </a>
                </td>

                <td>
                    <a href="{{ url_for('main.sign_up') }}">
                        <button class="index-button">SIGN-UP</button>
                    </a>
                </td>
            </table>
        </div>
    </div>
</body>

</html>