<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="inner-container mini">
        <form action="/attempt_login" method="post">
            <label class="login-signup-label">Login</label>

            <input class="login-signup-input" name="username_input" type="text" placeholder="username" />
            <br>

            <input class="login-signup-input" name="password_input" type="password" placeholder="password" />
            <br>

            <button class="login-signup-button" type="submit">LOGIN</button>
            <br><br>

            <span style="color: red">
                &nbsp;
                {% with errors = get_flashed_messages(category_filter=["attempt_login_error"]) %}
                    {% if errors %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </span>

            <span class="page-switch-span">No account? <a href="sign_up">Sign up</a> </span>
        </form>
    </div>
</body>

</html>