<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pool Browser</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="outer-container">
        <!-- Header declaration -->
        {% with user=user %}
            {% include 'header_nav.html' %}
        {% endwith %}

        <!-- Page title -->
        <div class="inner-container center-aligned">
            <span class="page-title-label">- Loan Pool Browser -</span>
        </div>

        <div class="inner-container center-aligned">
            <span class="category-span">Choose a Category</span>

            <!-- Form allows the user to filter the pools they see by category -->
            <form action="/pool_browser" method="post">
                <select name="category_list" class="category-select">
                    <option value="All">All</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Filter</button>
            </form>

            <br>

            <!-- SUCCESS MESSAGES FROM FORMS WILL BE PLACED BELOW THE CATEGORY CHOOSER -->
            <span style="color: green">
                &nbsp;
                {% with successes = get_flashed_messages(category_filter=["pool_form_success"]) %}
                    {% if successes %}
                        {% for success in successes %}
                            {{ success }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </span>
        </div>

        <!-- USE A LIST OF LOAN POOLS TO CREATE MULTIPLE DIVS CONTAINING POOL INFORMATION AND OPTIONS -->
        {% for pool in pools %}
            <div class="inner-container">
                <table class="pool-table">
                    <tr>
                        <td>
                            <span class="pool-name-span">{{ pool.name }}</span>
                            <br>
                            <span class="pool-category-span">{{ pool.category }}</span>
                        </td>
                        <td style="text-align: right;">
                            <span class="pool-amount-span">{{ "${:,.2f}".format(pool.amount) }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <form method="post">
                                <input name="pool_id" type="hidden" value="{{ pool.id }}"/>
                                <button class="pool-button" type="submit" formaction="/loan_request">Request</button>
                                <button class="pool-button" type="submit" formaction="/pool_contribution">Contribute</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</body>

</html>