<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pool Browser</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="outer-container">
        <!-- Header declaration -->
        {% with user=user %}
            {% include 'navigationBar.html' %}
        {% endwith %}

        <div class="inner-container title-container">
            <span class="title-label">Loan Pool Browser</span>
            <br>
            <span class="category-label">Choose a Category</span>

            <form action="/poolBrowser" method="post">
                <select name="categoryList" class="category-list">
                    <option value="All">All</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Go</button>
                <br>
            </form>

            <br>

            {% with errors = get_flashed_messages() %}
                {% if errors %}
                    {% for msg in errors %}
                        <span style="color: red;">{{ msg }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Pass in a list of all pools found in the Pool table of the database -->
        {% for pool in pools %}
            <div class="inner-container">
                <div class="name-and-category-container">
                    <span class="pool-name-label">{{ pool.name }}</span>
                    <br>
                    <span class="pool-category-label">{{ pool.category }}</span>
                </div>

                <span class="pool-amount-label">{{ "${:,.2f}".format(pool.amount) }}</span>
                <br>

                <button type="submit" class="request-or-contribute-button">Request</button>
                <button type="submit" class="request-or-contribute-button">Contribute</button>
            </div>
        {% endfor %}
    </div>
</body>

</html>