<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="inner-container mini">
        <form action="/attempt_sign_up" method="post">
            <label class="login-signup-label">Sign Up</label>

            <input class="login-signup-input mini" name="first_name_input" type="text" placeholder="first name"/>

            <input class="login-signup-input mini" name="last_name_input" type="text" placeholder="last name"/>
            <br>

            <input class="login-signup-input" name="username_input" type="text" placeholder="username"/>
            <br>

            <input class="login-signup-input" name="password_input" type="password" placeholder="password">
            <br>

            <button class="login-signup-button" type="submit">SIGN UP</button>
            <br><br>

            <span style="color: red">
                &nbsp;
                {% with errors = get_flashed_messages(category_filter=["attempt_sign_up_error"]) %}
                    {% if errors %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </span>

            <span class="page-switch-span">Already registered? <a href="login">Login</a> </span>
        </form>
    </div>
</body>

</html>